---
---

@import 'base';
@import 'header';

.post-wrap {
  margin: 24px 48px 24px 48px;
  display: flex;
  flex-wrap: wrap;
}

.post {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  max-width: 29%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 0.5px #ccc, -1px -1px 1px 0.5px #ccc;
  .title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
    flex-grow: 1;
  }
  .tag {
    background-color: #ccc;
    padding: 8px;
    border-radius: 16px;
    font-size: 0.9rem;
    font-style: italic;
  }
}
