---
---

@import 'base';
@import 'min-header';
@import 'code-block';

.post-wrap {
  display: flex;
  justify-content: space-between;
  .external,
  .navigation {
    max-width: 250px;
    width: 250px;
  }
  .article {
    max-width: 100%;
    text-align: justify;
    padding: 0 1rem;
    @media (min-width: $desktop-breakpoint) {
      max-width: 800px;
    }

    img {
      width: 100%;
    }
  }
  .article-content {
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.6rem;
  }
  .date-time {
    font-style: italic;
  }
}

.video-container {
  text-align: center;
}
