---
---

@import 'base';
@import 'min-header';
@import 'code-block';

.post-wrap {
  display: flex;
  justify-content: space-between;
  .external,
  .navigation {
    max-width: 250px;
    width: 250px;
  }
  .article {
    max-width: 800px;
    text-align: justify;

    img {
      width: 100%;
    }
  }
  .article-content {
    margin-top: 2rem;
  }
  .date-time {
    font-style: italic;
  }
}
