html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  font-size: 1rem;
  letter-spacing: -1px;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 15px;
}
