@import 'color';

.header {
  border-bottom: 2px solid $primary-color;
  background-color: $primary-color;
  height: 25vh;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  .links {
    padding: 16px;
    text-align: right;
    a {
      color: white;
      margin-left: 16px;
    }
  }
  .title {
    font-size: 4rem;
    color: white;
    padding: 8px;
    text-align: center;
  }
}
