<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{page.description}}" />
    <title>{{page.title}}</title>
    {% include google-font.html %} <link rel="stylesheet" href="{{ "/css/post.css" | relative_url }}">
  </head>
  <body>
    {% include min-header.html %}

    <div class="post-wrap">
      <div class="navigation"></div>
      <div class="article">
        <h1>{{page.title}}</h1>
        <time class="date-time" datetime="{{page.date}}">{{page.date | date: "%a, %b %d, %y"}}</time>
        <article class="article-content">{{content}}</article>
      </div>
      <div class="external"></div>
    </div>
  </body>
</html>
